* {
    font-size: 3vw;
    font-family: 'helvetica' sans-serif;
}

h2 {
    font-size: 5vw;
    text-align: center;
    padding: 2vw;
}

th {
    padding: 1vw;
    text-align: center;
    height: 6vh;
}

td {
    text-align: center;
    height: 10vh;
}

label {
    font-size: 2.5vw;
}

input {
    text-align: center;
    width: 6vw;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* unique classes */

.top-bar {
    position: absolute;
    background-color: #e9ecef;
    padding: 2vw;
    top: 10vw;
    margin: 0 2vw;
    border-radius: 4px;
    border: 3px solid #ccc;
}

.score-card {
    padding: 1vw;
    width: 96vw;
    overflow: auto;
    margin: 0 2vw;
    position: absolute;
    top: 48vw;
    background-color: #fff;
    border-radius: 4px;
    border: 3px solid #ccc;
}

.btn-start {
    border: 1px solid #ccc;
}

.center {
    margin: 0 auto;
}

.hole {
    width: 4vw;
}

.player-input {
    width: 14vw;
}

.start {
    opacity: .9;
}

/* image styling */

.hero {
    background: url(../../images/frizcourse.jpg) #666 no-repeat;
    background-position-x: center;
    background-position-y: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.icon {
    margin-left: 1vw;
    height: 4vw;
}

/* boostrap classes */

.form-group {
    text-align: center;
}

.form-control {
    text-align: center;
    height: 6.5vw;
}
