* {
    font-size: 3vw;
}

body {
    font-family: 'helvetica' sans-serif;
}

h2 {
    font-size: 8vw;
    text-align: center;
    padding: 2vw;
    background-color: rgb(211,211,211, 0.2);
    text-shadow: 1px 1px #555;
    margin-bottom: 0 !important;
}

th {
    padding: 1vw;
    text-align: center;
    height: 6vh;
}

td {
    text-align: center;
    height: 10vh;
}

label {
    font-size: 2.5vw;
}

input {
    text-align: center;
    width: 6vw;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* boostrap classes */

.form-group {
    text-align: center;
}

.form-control {
    text-align: center;
    height: 6.5vw;
}

/* unique classes */

.top-bar {
    background-color: #e9ecef;
    padding: 2vw;
    border: 3px solid #ccc;
}

.score-card {
    padding: 1vw;
    overflow: auto;
    background-color: #fff;
    border: 3px solid #ccc;
    border-top: none;
}

.btn-start {
    border: 1px solid #ccc;
}

.center {
    margin: 0 auto;
}

.hole {
    width: 4vw;
}

.player-input {
    width: 14vw;
}

/* image styling */

.icon {
    margin-left: 1vw;
    height: 6vw;
    text-shadow: 1px 1px #ccc;
}

.top-image {
    background-image: url('../../images/frizcourse.jpg');
    background-position-x: 53%;
    background-position-y: 62%;
}

.filler {
    height: 96vh;
    background-image: url('../../images/frizcourse2.jpg');
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover;
    opacity: .7;
    position: relative;
}
