* {
    font-size: 3vw;
}

.hole {
    width: 4vw;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.top-bar {
    background-color: #e9ecef;
    padding: 2vw;
}

.center {
    margin: 0 auto;
}

h2 {
    font-size: 5vw;
    text-align: center;
}

th {
    padding: 1vw;
    text-align: center;
}

td {
    text-align: center;
}

input {
    text-align: center;
    width: 6vw;
}

.player-input {
    width: 12vw;
}

.form-group {
    text-align: center;
}

.form-control {
    text-align: center;
    height: 4vw;
}
